// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'auth/card';

.font {
  font-family: 'Press Start 2P', cursive;

  &--8 {
   font-size: 9px;
  }

  &--10 {
   font-size: 12px;
  }
}

.q-tab__label {
  font-size: 9px;
}

.q-tab-panel {
  padding-left: 0;
  padding-right: 0;
}

.border {
  &--5 {
    border-radius: 5px;
  }
}

.page {
  // background-image: url(https://i.gifer.com/LoBd.gif);
  // background-image: url(https://i.pinimg.com/originals/31/ad/52/31ad5246cf608b1be1de302a6b40145e.gif);
  background-image: url(https://pixeljoint.com/files/icons/full/space__r1437994661.gif);
  background-size: cover;
  background-attachment: fixed;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // overflow-y: hidden;
}
