// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.font {
 font-family: 'Press Start 2P', cursive;
 &--8 {
  font-size: 8px;
 }
 &--10 {
  font-size: 10px;
 }
}


.q-tab__label {
    font-size: 9px;
}
.q-tab-panel {
    padding-left: 0;
    padding-right: 0;
}

.border {
  &--5 {
    border-radius: 5px;
  }
}